.userInfo{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    
    .icons {
        display: flex;
        gap: 20px;
        cursor: pointer;
    }

    .user{
        display: flex;
        align-items: center;
        gap: 20px;

        img{
            border-radius: 50%;
            object-fit: cover;
        }
    }
}

